<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContractService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56914/ContractService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractService"
                contract="IContractService" name="BasicHttpBinding_IContractService" />
        </client>
    </system.serviceModel>
</configuration>