<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRebelService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64915/RebelService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRebelService" contract="IRebelService"
                name="BasicHttpBinding_IRebelService" />
        </client>
    </system.serviceModel>
</configuration>